.box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #456789;
}

#circle {
    background: #456789;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.transition {
    background-color: #00D1AE;
    width: 200px;
    height: 200px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
}

p {
    max-width: 700px;
    font-family: Arial;
}