.box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #456789;
    /* When you apply a border to an element,
    it modifies the total width of that element. */
    border-bottom: 1px solid #17212e;
}


/* Make the circle slide in from right to left */
@keyframes circleslidein {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }
}

.transition {
    background-color: #00D1AE;
    width: 200px;
    height: 200px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
}

p {
    max-width: 700px;
    font-family: Arial;
}

#circle {
    background: #456789;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px;
    animation: circleslidein 2s;
}
